<!DOCTYPE html>
<html lang="en" >
<head>
 {%load staticfiles%}
  <meta charset="utf-8">
  <title>Avilon Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
   <meta content="" name="description">
       <!-- Favicons -->
  <link href="{% static 'img/favicon.png' rel='icon'%}">
  <link href="{% static 'img/apple-touch-icon.png' rel='apple-touch-icon'%}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' rel="stylesheet"%}">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/animate/animate.min.css' rel="stylesheet"%}">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' rel="stylesheet"%}">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' rel="stylesheet"%}">
  <link href="{% static 'lib/magnific-popup/magnific-popup.css' rel="stylesheet"%}">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' rel="stylesheet"%}">

  <!-- =======================================================
    Theme Name: Avilon
    Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1 align='center'><a href="#intro" class="scrollto"> Shaik Ismail Basha</a></h1>
		<a href="#intro"><img src="{% static 'img/pexels222.jpeg' alt="" title=""%}" height='500' width='1350'></a> <br>
		
		    <h1 align='center'>
           <font color='Blue'>
			WISH YOU A HAPPY BIRTHDAY TO MY DEAREST THICK FRIEND.
			</font>
			</h1> <br>              
		<a href="#intro"><img src="{% static 'img/2344.jpg' alt="" title=""%}" height='500' width='1350'></a><br>
		<br>
		<br>
		<marquee bgcolor="white">
		<font color='blue'>Wish You Many More Happy Returns of the Day Ismail Basha
		</font>
		</marquee>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--  -->
      </div>
    </div>
  </header><!-- #header -->
    <table align='center'>
	<tr>
	    <td>
		<img src="{%static 'img/tenor.gif'  width="1800" height="200" alt="Natural"%}" />
		</td>
	</tr>	
	</table>
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-text">
      <h2>
	  <font color='blue'>
	  Welcome to Ismail basha
	  </font>
	  </h2>
      <p>
	  <font color="green">
	  Congratulations on being even more experienced. I’m not sure what you learned this year, but every experience transforms us into the people we are today. Happy birthday!</p>
	  </font>
	  <marquee>
	  
	  <a href="#intro"><img src="{% static 'img/21.jpg' alt="" title=""%}" height='500' width='400'></a>
	  <a href="#intro"><img src="{% static 'img/eww.jpg' alt="" title=""%}" height='500' width='400'></a>
	  <a href="#intro"><img src="{% static 'img/birthday.jpg' alt="" title=""%}" height='500' width='400'></a>
      </marquee>
    </div>

       <table align="center">
	   <tr>
	   <td>
	  <a href="#intro"><img src="{% static 'img/messaging_attachmentw.jpg' alt="" title=""%}" height='500' width='1350'></a>
      </td>
	  </tr>
	  </table> 

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">
		  <font color='blue'>
		  TO MY BEST Friend.
		  </font>
		  </h3>
		  
	  <a href="#intro"><img src="{% static 'img/IMG.jpg' alt="" title=""%}" height='900' width='1320'></a>

          <span class="section-divider"></span>
          <p class="section-description" >
		    <font color='blue'>
			someone whom you can be yourself with, someone who you can have pointless conversations with, someone who still likes you even when you’re weird, someone who forgets to buy you a birthday gift…that’s why I came up with this. Happy birthday my best friend!
		  </font>
          </p>
        </div>
		 


        <div class="row">
          <div class="col-lg-6 about-img wow fadeInLeft">
            <img src="{% static 'img/IMG_20170207_181628.jpg' alt=""%}"width="650" height="550" >
            <img src="{% static 'img/image.jpg' alt=""%}"width="650" height="550">
          </div>

          <div class="col-lg-6 content wow fadeInRight">
            <h2 align="center" bgcolor="red">
			<font color='green'>
			Wish You Many More Happy Returns of the Day.
			</font>
			</h2>
			<img src="{% static 'img/4967.jpg' alt=""%}" width='1320' height='500'>
            <h3>
			<font color='Blue'>
			Happy Birthday TO The Dear Friend.</h3>
            </font>
			<p>
			<font color='green'>
               Sending birthday greetings has become a necessary tradition these days. It can be hard to find the perfect birthday wish for the special birthday boy or girl especially, with so many options. Don’t stress out over what to write in a birthday card.  Make the next birthday you celebrate a special one and personalize your birthday wishes with a handpicked happy birthday quote. Whether you’re looking for a greeting to make someone roll over laughing or a heart-warming tearjerker, these birthday quotes are a great place to start. A genuine birthday wish will surely make anyone’s day. This year, say “Happy Birthday!” with a few words that no one will forget.                     
			  </font>
			  </p>
                
				
				<img src="{% static 'img/3.jpg' alt=""%}" width='1320' height='500'>

              <ul>
              <li><i class="ion-android-checkmark-circle"></i> 
			  <font color='blue'>
			  Birthdays come around every year, but friends like you only come once in a lifetime. I’m so glad you came into my life. Best wishes on your special day.</li>
			  </font>
			  </ul>
              <ul> 			  
				<img src="{% static 'img/colorful.jpg' alt=""%}" width='600' height='400'> &nbsp;
 				<img src="{% static 'img/IMG_20160913_094835.jpg' alt=""%}" width='680' height='400'>
                </ul>   
						
              <ul>
              <li><i class="ion-android-checkmark-circle"></i> 
			  <font color='Blue'>
			  I promise that the more birthday candles you blow, the more I will be here for you to celebrate every special event in your life. Happy birthday!.</li>
             </font>
			 </ul>
			  <ul>
			  <img src="{% static 'img/IMG-20170402-WA0011.jpg' alt=""%}" width='1330' height='500'>
			  </ul>
              <ul>
			  <li><i class="ion-android-checkmark-circle"></i>
			  <font color='blue'>
			  I feel so lucky to have you as my friend. Hope your birthday is as special as you are. May all of your dreams come true. Thanks for being such a great friend. Happy birthday for my friend!.</li>
            </font>
			</ul>

          </div>
        </div>

      </div>
	  
	  <ul>
			  <img src="{% static 'img/001.jpg' alt=""%}" width='1290' height='500'>
			  </ul>
			  
	  <ul>
			  <li><i class="ion-android-checkmark-circle"></i>
			  <font color='blue'>
			  Happy birthday my dear friend, may the bright colors paint your life and you be happy forever. Stay blessed.</li>
            </font>
			</ul>		  
	  <ul>
	  
  <marquee behavior="alternate" direction="left">
    <img src="{% static 'img/23.jpg' width="120" height="60" alt="Natural" %}"/> &nbsp;
    
  </marquee>
  
  <p>
  <font color='blue'>
  It’s a smile from me… To wish you a day that brings the same kind of happiness and joy that you bring to me. Happy birthday!</p>
  </font>
  
  <marquee behavior="scroll" direction="left" scrollamount="5">
    <img src="{%static 'img/happy123.jpg' width="1200" height="2" alt="Natural"%}" />
  </marquee>
  <marquee behavior="scroll" direction="left" scrollamount="15">
    <img src="{%static 'img/11358614_705364696241440_1672941400_n_e1.jpg'  width="1350" height="2" alt="Natural"%}" />
  </marquee>
  <table align='center'>
  <tr>
  <td>
<img src="{% static 'img/birthday-1713778_960_720.jpg' width="1500" height="600" alt="Natural" %}"/> &nbsp;
    </td>
	</tr>
</body>
</html>
